# Stanford Open Policing
Check [README](README.md) for details

In [11]:
import geopandas as gpd
from matplotlib import pyplot as plt
import pandas as pd

In [12]:
df = pd.read_csv('data/az_mesa_2023_01_26.csv')
df.head()

,raw_row_number,date,time,location,lat,lng,geocode_source,subject_age,subject_race,subject_sex,officer_id_hash,type,violation,arrest_made,citation_issued,warning_issued,outcome,raw_race_fixed,raw_ethnicity_fixed,raw_charge
0,1,2014-01-01,05:04:00,"700 E FRANKLIN AVE, MESA",33.402381,-111.816143,GM,36.0,hispanic,female,d4eed1c4dc,NaN,NOISE AFTER 10PM TO 6AM,False,True,False,citation,W,H,------A-
1,2,2014-01-01,12:33:00,"400 E BROWN RD, MESA",33.435577,-111.822654,GM,58.0,white,female,e24408e0fd,vehicular,NO PROOF OF INSURANCE,False,True,False,citation,W,N,-------C
2,3,2014-01-01,12:27:00,"3600 E SOUTHERN AVE, MESA",33.393701,-111.753798,GM,19.0,white,male,4ab12ca221,vehicular,SPEED NOT R&P/FTC SPEED TO AVOID A COLLISION,False,True,False,citation,W,N,------A
3,4,2014-01-01,13:52:00,"400 N CENTER ST, MESA",33.422339,-111.831445,GM,46.0,black,male,b1c5205466,vehicular,SUSP/REVOKED LIC,False,True,False,citation,B,N,-------B
4,5,2014-01-01,03:02:00,"2100 W UNIVERSITY0 DR, MESA",33.422121,-111.876371,GM,27.0,white,male,5cbad8bdf3,vehicular,DRIVE ON SUSPENDED OR REVOKED LICENSE,False,True,False,citation,W,N,-------A

In [13]:
gf = gpd.read_file('data/az_mesa_shapefiles/MesaBeats.shp')
gf.head()

   ESZ_NUM DISTRICT                                           geometry
0       35   CENTRL  POLYGON ((711989.286 881074.789, 712023.63 881...
1       36   CENTRL  POLYGON ((723485.867 893111.907, 723483.37 892...
2       31   CENTRL  POLYGON ((709821.816 878451.881, 710258.037 87...
3       13   FIESTA  POLYGON ((708712.528 875797.693, 709006.93 875...
4       32   CENTRL  POLYGON ((723512.776 875930.537, 723395.613 87...

In [ ]:
print(len(df), len(gf), df.columns, sep = '\n')